WCFServiceTest/TestThread/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCommodityModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommodityModel" nillable="true" type="tns:CommodityModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommodityModel" nillable="true" type="tns:ArrayOfCommodityModel" />
  <xs:complexType name="CommodityModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommodityId" type="xs:int" />
      <xs:element minOccurs="0" name="Stok" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommodityModel" nillable="true" type="tns:CommodityModel" />
  <xs:complexType name="ArrayOfOrderFormModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderFormModel" nillable="true" type="tns:OrderFormModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderFormModel" nillable="true" type="tns:ArrayOfOrderFormModel" />
  <xs:complexType name="OrderFormModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommodityId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="DoTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsExecute" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderFormModel" nillable="true" type="tns:OrderFormModel" />
</xs:schema>